doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Actividades
  link(rel='stylesheet' href='styles.css')
  script(src='https://kit.fontawesome.com/5cb641fede.js' crossorigin='anonymous')
.container
  .sections
    .menu-section
      h1.hide
        | Actividades 
        span.toggle-icon
          i.fas.fa-plus
          i.fas.fa-minus
      .accordions
        .accordion-container.hide
          a.accordion-titulo
            | Chicos 3 y 4 a&ntilde;os
            span.toggle-icon
              i.fas.fa-plus
              i.fas.fa-minus
          .accordion-content
            ul
              li
                p Jes&uacute;s sana a un sordomudo
                ul
                  li(data-url='activities/jesus_sana_a_un_sordomudo/a3y4_1.jpg') Actividad 1
              li
                p La pesca milagrosa
                ul
                  li(data-url='activities/la_pesca_milagrosa/a3y4_1.jpg') Actividad 1
                  li(data-url='activities/la_pesca_milagrosa/a3y4_2.jpg') Actividad 1
              li
                p La hija de Jairo
                ul
                  li(data-url='https://es.educaplay.com/juego/5705554-la_hija_de_jairo.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/5705554-la_hija_de_jairo.html') Actividad 2
              li
                p El milagro de la tempestad
                ul
                  li(data-url='activities/el_milagro_de_la_tempestad/a3y4_1.jpg') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/5775730-el_milagro_de_la_tempestad.html') Actividad 2
              li
                p Jes&uacute;s camina sobre el agua
                ul
                  li(data-url='activities/jesus_camina_sobre_el_agua/a3y4_1.jpg') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/5775730-el_milagro_de_la_tempestad.html') Actividad 2
              li
                p Jesus sana a un ciego
                ul
                  li(data-url='activities/jesus_sana_a_un_ciego/a3y4_1.jpg') Actividad 1
                  li(data-url='activities/jesus_sana_a_un_ciego/a3y4_2.jpg') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/5951868-jesus_sana_a_un_ciego.html') Actividad 3
                  li(data-url='https://es.educaplay.com/juego/5964726-jesus_sana_a_un_ciego.html') Actividad 4
              li
                p Jes&uacute;s multiplica los panes y los peces
                ul
                  li(data-url='activities/jesus_multiplica_los_panes_y_los_peces/a3y4_1.jpg') Actividad 1
                  li(data-url='activities/jesus_multiplica_los_panes_y_los_peces/a3y4_2.jpg') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/6038604-jesus_y_la_multiplicacion.html') Actividad 3
              li
                p Primer mandamiento
                ul
                  li(data-url='activities/primer_mandamiento/a3y4_1.jpg') Actividad 1
              li
                p Segundo mandamiento
                ul
                  li(data-url='https://es.educaplay.com/juego/6269659-segundo_mandamiento.html') Actividad 1
              li
                p Tercer mandamiento
                ul
                  li(data-url='https://es.educaplay.com/juego/6321433-tercer_mandamiento.html') Actividad 1
              li
                p Cuarto mandamiento
                ul
                  li(data-url='https://es.educaplay.com/juego/6421099-cuarto_mandamiento.html') Actividad 1
              li
                p Quinto mandamiento
                ul
                  li(data-url='https://es.educaplay.com/juego/6472414-quinto_mandamiento.html') Actividad 1
              li
                p D&eacute;cimo Mandamiento
                ul
                  li(data-url='activities/decimo_mandamiento/a3y4_1.jpg') Actividad 1
                  li(data-url='activities/decimo_mandamiento/a3y4_2.jpg') Actividad 2
              li
                p La historia de Rut
                ul
                  li(data-url='activities/la_historia_de_rut/a3y4_1.jpg') Actividad 1
                  li(data-url='activities/la_historia_de_rut/a3y4_2.jpg') Actividad 2
        // Clase de 3 y 4 años
        .accordion-container
          a.accordion-titulo
            | Chicos 5 y 6 a&ntilde;os
            span.toggle-icon
              i.fas.fa-plus
              i.fas.fa-minus
          .accordion-content
            ul
              li
                p Jes&uacute;s sana a un sordomudo
                ul
                  li(data-url='activities/jesus_sana_a_un_sordomudo/a5y6_1.jpg') Actividad 1
              li
                p La pesca milagrosa
                ul
                  li(data-url='activities/la_pesca_milagrosa/a5y6_1.jpg') Actividad 1
              li
                p La hija de Jairo
                ul
                  li(data-url='https://es.educaplay.com/juego/5705554-la_hija_de_jairo.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/5710983-la_hija_de_jairo.html') Actividad 2
              li
                p El milagro de la tempestad
                ul
                  li(data-url='activities/el_milagro_de_la_tempestad/a5y6_1.jpg') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/5775730-el_milagro_de_la_tempestad.html') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/5775760-el_milagro_de_la_tempestad.html') Actividad 3
              li
                p Jes&uacute;s camina sobre el agua
                ul
                  li(data-url='activities/jesus_camina_sobre_el_agua/a5y6_1.jpg') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/5873646-jesus_camina_sobre_el_agua.html') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/5873681-jesus_camina_sobre_el_agua.html') Actividad 3
              li
                p Jesus sana a un ciego
                ul
                  li(data-url='activities/jesus_sana_a_un_ciego/a5y6_1.jpg') Actividad 1
                  li(data-url='activities/jesus_sana_a_un_ciego/a5y6_2.jpg') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/5951868-jesus_sana_a_un_ciego.html') Actividad 3
                  li(data-url='https://es.educaplay.com/juego/5951886-jesus_sana_a_un_ciego.html') Actividad 4
              li
                p Jes&uacute;s multiplica los panes y los peces
                ul
                  li(data-url='activities/jesus_multiplica_los_panes_y_los_peces/a5y6_1.jpg') Actividad 1
                  li(data-url='activities/jesus_multiplica_los_panes_y_los_peces/a5y6_2.jpg') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/6038604-jesus_y_la_multiplicacion.html') Actividad 3
                  li(data-url='https://es.educaplay.com/juego/6038058-jesus_y_la_multiplicacion.html') Actividad 4
              li
                p Primer mandamiento
                ul
                  li(data-url='activities/primer_mandamiento/a5y6_1.jpg') Actividad 1
                  li(data-url='activities/primer_mandamiento/a5y6_2.jpg') Actividad 2
              li
                p Segundo mandamiento
                ul
                  li(data-url='https://es.educaplay.com/juego/6269659-segundo_mandamiento.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/6269676-segundo_mandamiento.html') Actividad 2
              li
                p Tercer mandamiento
                ul
                  li(data-url='https://es.educaplay.com/juego/6321433-tercer_mandamiento.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/6321446-tercer_mandamiento.html') Actividad 2
              li
                p Cuarto mandamiento
                ul
                  li(data-url='https://es.educaplay.com/juego/6421099-cuarto_mandamiento.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/6421150-cuarto_mandamiento.html') Actividad 2
              li
                p Quinto mandamiento
                ul
                  li(data-url='https://es.educaplay.com/juego/6472414-quinto_mandamiento.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/6472442-quinto_mandamiento.html') Actividad 1
              li
                p D&eacute;cimo Mandamiento
                ul
                  li(data-url='activities/decimo_mandamiento/a5y6_1.jpg') Actividad 1
                  li(data-url='activities/decimo_mandamiento/a5y6_2.jpg') Actividad 2
                  li(data-url='activities/decimo_mandamiento/a5y6_3.jpg') Actividad 3
              li
                p La historia de Rut
                ul
                  li(data-url='activities/la_historia_de_rut/a5y6_1.jpg') Actividad 1
                  li(data-url='activities/la_historia_de_rut/a5y6_2.jpg') Actividad 2
                  li(data-url='activities/la_historia_de_rut/a5y6_3.jpg') Actividad 3
        // Clase de 5 y 6 años
        .accordion-container
          a.accordion-titulo
            | Chicos 7 a 9 a&ntilde;os
            span.toggle-icon
              i.fas.fa-plus
              i.fas.fa-minus
          .accordion-content
            ul
              li
                p Jes&uacute;s sana a un sordomudo
                ul
                  li(data-url='activities/jesus_sana_a_un_sordomudo/a7y9_1.jpg') Actividad 1
                  li(data-url='activities/jesus_sana_a_un_sordomudo/a7y9_2.jpg') Actividad 2
              li
                p La pesca milagrosa
                ul
                  li(data-url='activities/la_pesca_milagrosa/a7y9_1.jpg') Actividad 1
              li
                p La hija de Jairo
                ul
                  li(data-url='https://es.educaplay.com/juego/5710983-la_hija_de_jairo.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/5705192-la_hija_de_jairo.html') Actividad 2
              li
                p El milagro de la tempestad
                ul
                  li(data-url='activities/el_milagro_de_la_tempestad/a7y9_1.jpg') Actividad 1
                  li(data-url='activities/el_milagro_de_la_tempestad/a7y9_2.jpg') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/5775760-el_milagro_de_la_tempestad.html') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/5761276-el_milagro_de_la_tempestad.html') Actividad 3
              li
                p Jes&uacute;s camina sobre el agua
                ul
                  li(data-url='activities/jesus_camina_sobre_el_agua/a7y9_1.jpg') Actividad 1
                  li(data-url='activities/jesus_camina_sobre_el_agua/a7y9_2.jpg') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/5873681-jesus_camina_sobre_el_agua.html') Actividad 3
                  li(data-url='https://es.educaplay.com/juego/5873259-jesus_camina_sobre_el_agua.html') Actividad 4
              li
                p Jesus sana a un ciego
                ul
                  li(data-url='activities/jesus_sana_a_un_ciego/a7y9_1.jpg') Actividad 1
                  li(data-url='activities/jesus_sana_a_un_ciego/a7y9_2.jpg') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/5951886-jesus_sana_a_un_ciego.html') Actividad 3
                  li(data-url='https://es.educaplay.com/juego/5951591-jesus_sana_a_un_ciego.html') Actividad 4
              li
                p Jes&uacute;s multiplica los panes y los peces
                ul
                  li(data-url='activities/jesus_multiplica_los_panes_y_los_peces/a7y9_1.jpg') Actividad 1
                  li(data-url='activities/jesus_multiplica_los_panes_y_los_peces/a7y9_2.jpg') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/6038058-jesus_y_la_multiplicacion.html') Actividad 3
                  li(data-url='https://es.educaplay.com/juego/6029629-jesus_y_la_multiplicacion.html') Actividad 4
              li
                p Primer mandamiento
                ul
                  li(data-url='activities/primer_mandamiento/a7y9_1.jpg') Actividad 1
              li
                p Segundo mandamiento
                ul
                  li(data-url='https://es.educaplay.com/juego/6269676-segundo_mandamiento.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/6269591-segundo_mandamiento.html') Actividad 2
              li
                p Tercer mandamiento
                ul
                  li(data-url='https://es.educaplay.com/juego/6321446-tercer_mandamiento.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/6420990-cuarto_mandamiento.html') Actividad 2
              li
                p Cuarto mandamiento
                ul
                  li(data-url='https://es.educaplay.com/juego/6421150-cuarto_mandamiento.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/6420990-cuarto_mandamiento.html') Actividad 2
              li
                p Quinto mandamiento
                ul
                  li(data-url='https://es.educaplay.com/juego/6472442-quinto_mandamiento.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/6471350-quinto_mandamiento.html') Actividad 1
              li
                p D&eacute;cimo Mandamiento
                ul
                  li(data-url='activities/decimo_mandamiento/a7y9_1.jpg') Actividad 1
                  li(data-url='activities/decimo_mandamiento/a7y9_2.jpg') Actividad 2
                  li(data-url='activities/decimo_mandamiento/a7y9_3.jpg') Actividad 3
              li
                p La historia de Rut
                ul
                  li(data-url='activities/la_historia_de_rut/a7y9_1.jpg') Actividad 1
                  li(data-url='activities/la_historia_de_rut/a7y9_2.jpg') Actividad 2
        // Clase de 7 a 9 años
        .accordion-container
          a.accordion-titulo
            | Chicos 10 y 11 a&ntilde;os
            span.toggle-icon
              i.fas.fa-plus
              i.fas.fa-minus
          .accordion-content
            ul
              li
                p Jes&uacute;s sana a un sordomudo
                ul
                  li(data-url='activities/jesus_sana_a_un_sordomudo/a10y11_1.jpg') Actividad 1
                  li(data-url='activities/jesus_sana_a_un_sordomudo/a10y11_2.jpg') Actividad 2
              li
                p La pesca milagrosa
                ul
                  li(data-url='activities/la_pesca_milagrosa/a10y11_1.jpg') Actividad 1
                  li(data-url='activities/la_pesca_milagrosa/a10y11_2.jpg') Actividad 2
              li
                p La hija de Jairo
                ul
                  li(data-url='https://es.educaplay.com/juego/5705480-la_hija_de_jairo.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/5705317-la_hija_de_jairo.html') Actividad 2
              li
                p El milagro de la tempestad
                ul
                  li(data-url='activities/el_milagro_de_la_tempestad/a10y11_1.jpg') Actividad 1
                  li(data-url='activities/el_milagro_de_la_tempestad/a10y11_2.jpg') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/5775827-el_milagro_de_la_tempestad.html') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/5761463-el_milagro_de_la_tempestad.html') Actividad 3
              li
                p Jes&uacute;s camina sobre el agua
                ul
                  li(data-url='activities/jesus_camina_sobre_el_agua/a10y11_1.jpg') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/5873719-jesus_camina_sobre_el_agua.html') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/5873366-jesus_camina_sobre_el_agua.html') Actividad 3
              li
                p Jesus sana a un ciego
                ul
                  li(data-url='activities/jesus_sana_a_un_ciego/a10y11_1.jpg') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/5964670-jesus_sana_a_un_ciego.html') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/5951725-jesus_sana_a_un_ciego.html') Actividad 3
              li
                p Jes&uacute;s multiplica los panes y los peces
                ul
                  li(data-url='activities/jesus_multiplica_los_panes_y_los_peces/a10y11_1.jpg') Actividad 1
                  li(data-url='activities/jesus_multiplica_los_panes_y_los_peces/a10y11_2.jpg') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/6038339-jesus_y_la_multiplicacion.html') Actividad 3
                  li(data-url='https://es.educaplay.com/juego/6029697-jesus_y_la_multiplicacion.html') Actividad 4
              li
                p Segundo mandamiento
                ul
                  li(data-url='https://es.educaplay.com/juego/6269684-segundo_mandamiento.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/6269634-segundo_mandamiento.html') Actividad 2
              li
                p Tercer mandamiento
                ul
                  li(data-url='https://es.educaplay.com/juego/6321452-tercer_mandamiento.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/6312287-tercer_mandamiento.html') Actividad 2
              li
                p Cuarto mandamiento
                ul
                  li(data-url='https://es.educaplay.com/juego/6321452-tercer_mandamiento.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/6421048-cuarto_mandamiento.html') Actividad 2
              li
                p Quinto mandamiento
                ul
                  li(data-url='https://es.educaplay.com/juego/6472472-quinto_mandamiento.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/6472354-quinto_mandamiento.html') Actividad 1
              li
                p D&eacute;cimo Mandamiento
                ul
                  li(data-url='activities/decimo_mandamiento/a10y11_1.jpg') Actividad 1
                  li(data-url='activities/decimo_mandamiento/a10y11_2.jpg') Actividad 2
              li
                p La historia de Rut
                ul
                  li(data-url='activities/la_historia_de_rut/a10y11_1.jpg') Actividad 1
                  li(data-url='activities/la_historia_de_rut/a10y11_2.jpg') Actividad 2
        // Clase de 10 y 11 años
        .accordion-container
          a.accordion-titulo
            | Chicos 12 y 13 a&ntilde;os
            span.toggle-icon
              i.fas.fa-plus
              i.fas.fa-minus
          .accordion-content
            ul
              li
                p Jes&uacute;s sana a un sordomudo
                ul
                  li(data-url='activities/jesus_sana_a_un_sordomudo/a12y13_1.jpg') Actividad 1
                  li(data-url='activities/jesus_sana_a_un_sordomudo/a12y13_2.jpg') Actividad 2
              li
                p La pesca milagrosa
                ul
                  li(data-url='activities/la_pesca_milagrosa/a12y13_1.jpg') Actividad 1
              li
                p La hija de Jairo
                ul
                  li(data-url='https://es.educaplay.com/juego/5705317-la_hija_de_jairo.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/5705603-la_hija_de_jairo.html') Actividad 2
              li
                p El milagro de la tempestad
                ul
                  li(data-url='activities/el_milagro_de_la_tempestad/a12y13_1.jpg') Actividad 1
                  li(data-url='activities/el_milagro_de_la_tempestad/a12y13_2.jpg') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/5761463-el_milagro_de_la_tempestad.html') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/5775916-el_milagro_de_la_tempestad.html') Actividad 3
              li
                p Jes&uacute;s camina sobre el agua
                ul
                  li(data-url='activities/jesus_camina_sobre_el_agua/a12y13_1.jpg') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/5873719-jesus_camina_sobre_el_agua.html') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/5873366-jesus_camina_sobre_el_agua.html') Actividad 3
              li
                p Jesus sana a un ciego
                ul
                  li(data-url='activities/jesus_sana_a_un_ciego/a12y13_1.jpg') Actividad 1
                  li(data-url='activities/jesus_sana_a_un_ciego/a12y13_2.jpg') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/5964670-jesus_sana_a_un_ciego.html') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/5951725-jesus_sana_a_un_ciego.html') Actividad 3
              li
                p Jes&uacute;s multiplica los panes y los peces
                ul
                  li(data-url='activities/jesus_multiplica_los_panes_y_los_peces/a12y13_1.jpg') Actividad 1
                  li(data-url='activities/jesus_multiplica_los_panes_y_los_peces/a12y13_2.jpg') Actividad 2
                  li(data-url='https://es.educaplay.com/juego/6029697-jesus_y_la_multiplicacion.html') Actividad 3
                  li(data-url='https://es.educaplay.com/juego/6038398-jesus_y_la_multiplicacion.html') Actividad 4
              li
                p Primer mandamiento
                ul
                  li(data-url='activities/primer_mandamiento/a12y13_1.jpg') Actividad 1
              li
                p Segundo mandamiento
                ul
                  li(data-url='https://es.educaplay.com/juego/6269684-segundo_mandamiento.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/6269634-segundo_mandamiento.html') Actividad 2
              li
                p Tercer mandamiento
                ul
                  li(data-url='https://es.educaplay.com/juego/6321452-tercer_mandamiento.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/6312287-tercer_mandamiento.html') Actividad 2
              li
                p Cuarto mandamiento
                ul
                  li(data-url='https://es.educaplay.com/juego/6321452-tercer_mandamiento.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/6421048-cuarto_mandamiento.html') Actividad 2
              li
                p Quinto mandamiento
                ul
                  li(data-url='https://es.educaplay.com/juego/6472472-quinto_mandamiento.html') Actividad 1
                  li(data-url='https://es.educaplay.com/juego/6472354-quinto_mandamiento.html') Actividad 1
              li
                p D&eacute;cimo Mandamiento
                ul
                  li(data-url='activities/decimo_mandamiento/a12y13_1.jpg') Actividad 1
        // Clase de 12 y 13 años
    .act-section
      iframe(width='795' height='690' frameborder='0' src='https://es.educaplay.com/juego/6472472-quinto_mandamiento.html')
    .image-section
      img(src='activities/cuarto_mandamiento/a12y13_1.jpg' alt='Actividad')
    .present-section
      h1
        | &iexcl;Selecciona una de las actividades del men&uacute;!
        h1
script(type='text/javascript' src='../../js/jquery.min.js')
script(type='text/javascript' src='../../js/common_functions.js')
script(type='text/javascript' src='script.js')
