include data.pug
include ../../pug/common_functions.pug

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Actividades
  link(rel='stylesheet' href='styles.css')
  script(src='https://kit.fontawesome.com/5cb641fede.js' crossorigin='anonymous')
.container
  mixin activity(name, list)
    if (list.length)
      //- Para los casos de edades que no tienen actividades
      li
        p= name
        ul
          each val, index in list
            li(data-url= val)= "Actividad " + (index + 1)
      
  .sections
    .menu-section
      h1.show
        | Actividades
        span.toggle-icon
          i.fas.fa-plus
          i.fas.fa-minus
      .accordions
        .accordion-container.hide
          a.accordion-titulo
            | Chicos 3 y 4 a&ntilde;os
            span.toggle-icon
              i.fas.fa-plus
              i.fas.fa-minus
          .accordion-content
            ul
              each val, key in values
                +activity(key, val[0])
        // Clase de 3 y 4 años
        .accordion-container
          a.accordion-titulo
            | Chicos 5 y 6 a&ntilde;os
            span.toggle-icon
              i.fas.fa-plus
              i.fas.fa-minus
          .accordion-content
            ul
              each val, key in values
                +activity(key, val[1])
        // Clase de 5 y 6 años
        .accordion-container
          a.accordion-titulo
            | Chicos 7 a 9 a&ntilde;os
            span.toggle-icon
              i.fas.fa-plus
              i.fas.fa-minus
          .accordion-content
            ul
              each val, key in values
                +activity(key, val[2])
        // Clase de 7 a 9 años
        .accordion-container
          a.accordion-titulo
            | Chicos 10 y 11 a&ntilde;os
            span.toggle-icon
              i.fas.fa-plus
              i.fas.fa-minus
          .accordion-content
            ul
              each val, key in values
                +activity(key, val[3])
        // Clase de 10 y 11 años
        .accordion-container
          a.accordion-titulo
            | Chicos 12 y 13 a&ntilde;os
            span.toggle-icon
              i.fas.fa-plus
              i.fas.fa-minus
          .accordion-content
            ul
              each val, key in values
                +activity(key, val[4])
        // Clase de 12 y 13 años
    .act-section
      iframe(width='795' height='690' frameborder='0' src='')
    .image-section
      img(src="" alt='Actividad')
    .present-section
      h1
        | &iexcl;Selecciona una de las actividades del men&uacute;!
        h1
script(type='text/javascript' src='../../js/jquery.min.js')
script(type='text/javascript' src='../../js/common_functions.js')
script(type='text/javascript' src='script.js')
