include ../../pug/common_functions.pug

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Libros
  link(rel='stylesheet' href='styles.css')
.container
  -
    var books = [
      'intro_para_padres',
      'agua_contaminada',
      'bella_estrella',
      'buena_idea_mala_idea',
      'el_arbol_amargado',
      'el_buho_abusivo',
      'el_cuaderno_sin_letras',
      'el_felizometro',
      'el_gobernante_arrogante',
      'el_gran_dia',
      'el_jardin_destruido',
      'el_tordo_no_estaba_sordo',
      'hormigas_sin_amigas',
      'la_fragil_y_fuerte_mariposa',
      'la_pelota_que_no_rebota',
      'la_pesadilla_de_la_ardilla',
      'la_vasija_de_barro',
      'lucy_la_luciernaga',
      'montanas_movedizas',
      'sinfonia_singular',
      'tomas_el_sonador',
      'una_abeja_ejemplar',
      'un_pasatiempo_a_destiempo',
      'un_siseo_desesperado',
      'vaya_oveja'
    ]

  mixin add_book(name)
    a.libro(href='pdfs/' + name + '.pdf')
      img(src=pre_url + 'images/' + name + '.jpg', alt=name)
      
  each book in books
    +add_book(book)

script(src='../../js/jquery.min.js' charset='utf-8')
script(src='../../js/common_functions.js' charset='utf-8')
script(src='script.js' charset='utf-8')
