include ../../pug/common_functions.pug

mixin events(date, fecha, clases=[], desafios=[], noticias=[], zoom=[])
    .events(data-date=date)    
        ul.list
            h2= fecha
            each item in clases
                li
                    i.fas.fa-bible
                    = item
            each item in desafios
                li
                    i.fas.fa-brain
                    = item
            each item in noticias
                li
                    i.fas.fa-snowboarding
                    = item
            each item in zoom
                li
                    i.fas.fa-video
                    = item

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Calendario HDJ
  link(rel='stylesheet' href='styles.css')
  script(src='https://kit.fontawesome.com/5cb641fede.js' crossorigin='anonymous')
.container
  //
    La idea es que haya eventos de las ultimas 2 semanas y de las
    próximas dos semanas o las que ya se sepan con seguridad
  //
    Los eventos llevaran iconos en funcion del tipo de eventos:
    Por ejemplos, las clases un icono distinto a los desafios, etc.
    CLASES: <i class="fas fa-bible"></i>
    DESAFIOS: <i class="fas fa-brain"></i>
    NOTICIAS: <i class="fas fa-snowboarding"></i>
    ZOOM: <i class="fas fa-video"></i>
    CUMPLEAÑOS: <i class="fas fa-birthday-cake"></i>
  #calendar.calendar
    h1
      | Calendario HDJ 
      i.gotobottom.fas.fa-angle-down
    +events('20/12', 'Domingo 20 de Diciembre', ['Cierre de HDJ 2020'])

  #datetable.datetable
    h1 Horarios
    ul.list
      li
        i.fas.fa-clock
        |  Clases: Domingos 10hs
  .gototop
    i.fas.fa-angle-up
script(type='text/javascript' src='../../js/jquery.min.js')
script(type='text/javascript' src='../../js/common_functions.js')
script(type='text/javascript' src='script.js')
