@import "../../sass/_variables.sass"
@import "../../sass/common_styles.sass"
@import "../../sass/reset.sass"

.container
  background: $galeria-primario

h1
  font-size: 2em
  text-align: center

  padding: .5em
  border-bottom: 3px solid $galeria-secundario

.opciones
  @media (max-width: $medium)
    flex-direction: column
    justify-content: space-around
    align-items: center
  @media (min-width: $medium)
    flex-direction: row
    justify-content: space-around
    align-items: center

  display: -webkit-flex
  display: -ms-flex
  display: flex

  padding: 1em

  height: calc(100vh - 3em)

  .opcion
    display: flex
    justify-content: center
    align-items: center

    color: $font-color

    padding: 1em

    font-size: 3em
    text-align: center

    border: 3px solid $font-color

    background: darken($galeria-primario, 5)

    @media (max-width: $medium)
      width: 80%
    @media (min-width: $medium)
      width: auto

    h2, i
      padding: .25em
