doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Clases
  link(rel='stylesheet' href='styles.css')
.container
  .sections
    .menu-section
      h1.hide
        | Lista de Clases 
        span.toggle-icon
          i.fas.fa-plus
          i.fas.fa-minus
      ul
        li Clase 1 - Jes&uacute;s sana a un sordomudo
        li Clase 2 - La pesca milagrosa
        li Clase 3 - La hija de Jairo
        li Clase 4 - El milagro de la tempestad
        li Clase 5 - Jes&uacute;s camina sobre el agua
        li Clase 6 - Jes&uacute;s sana a un ciego
        li Clase 7 - Jes&uacute;s multiplica los panes y los peces
        li Clase 8 - Jes&uacute;s sana al criado del centuri&oacute;n
        li Clase 9 - Primer mandamiento
        li Clase 10 - Segundo mandamiento
        li Clase 11 - Tercer mandamiento
        li Clase 12 - Cuarto mandamiento
        li Clase 13 - Quinto mandamiento
        li Clase 14 - Sexto mandamiento
        li Clase 15 - Septimo mandamiento
        li Clase 16 - Octavo mandamiento
        li Clase 17 - Noveno mandamiento
        li Clase 18 - Decimo mandamiento
        li Clase 19 - La Alabanza
        li Clase 20 - La historia de Rut
        li Clase 21 - La Ca&iacute;da
    .video-section
      pre
        .video-responsive
          iframe(src='', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen)

script(src='../../js/jquery.min.js' charset='utf-8')
script(src='../../js/common_functions.js' charset='utf-8')
script(src='script.js' charset='utf-8')
