include ../../../pug/common_functions.pug

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Galeria
  link(rel='stylesheet' href='styles.css')
  link(rel='stylesheet' href='../../../css/lightbox.css')
.container
  h1 &iexcl;Mira a nuestros HDJ!
  .gallery
    // <a href="https://i.postimg.cc/XJtM4QRX/84303176-3531308590244484-2810629175482777600-o.jpg" data-lightbox="hdj"><img src="https://i.postimg.cc/XJtM4QRX/84303176-3531308590244484-2810629175482777600-o.jpg"></a>
    // DEJO UN ENLACE COMO EJEMPLO DE LO QUE SE GENERA CON JAVASCRIPT
script(src='../../../js/jquery.min.js')
script(src='../../../js/lightbox.js')
script(src='../../../js/common_functions.js')
script(src='script.js' charset='utf-8')
